body{
    background-color: #fff1c2
}
.header{
    text-align: center;
    font-size: 2vmax;
    color: #fc6dcc;
}
div.gallery{
    width: 100%;
    border: 1px solid #000000;
}
div.gallery div.el{
    margin:5px;
    padding: 5px;
    border: 1px solid #ff9900;
    width: 30%;
    float: left;
    background-color: #ffba39;
    box-shadow: 3px 3px 3px #fc61e7;
}
div.gallery div.el img{
    width: 100%;
}

.btn-go-back{
clear: both;
text-align: center;
font-size:1.5vmax;
text-decoration: none;
color: #ffa600;
}
