body{
    font-family:Arial, Helvetica, sans-serif ;
}
H1,H2{
    text-transform: uppercase;
}
.header{
    text-align: center;
    color:#3c00ff;
    font-size: 4.5vmax;
    -webkit-text-stroke: 2px #000000;
}
.slogan{
    font-size: 24px;
    font-style: italic;
    text-transform: capitalize;
    color: #d66000;
}
table{
    border-collapse: collapse;
}
th,td{
    border: 1px solid #000000;
}
td.year{
    text-align: center;
}
a{
    text-decoration: none;
    columns: #ffbb00;
}
img{
    width: 100%;
}